  <div class="row project shifted">
    <div class="project-thumbnail col-md-3 col-sm-12">
      <a href="https://{{project_name}}.glitch.me/">
        <img src="https://cdn.glitch.com/project-avatar/{{project_id}}.png">
      </a>
    </div>
    <div class="project-info col-md-9 col-sm-12">
      <a href="https://{{project_name}}.glitch.me/">
        <h2>{{project_name}}</h2>
      </a>
      <p class="project-description">{{project_description}}</p>
      <p class="project-actions">
        <a class="btn" href="https://{{project_name}}.glitch.me/">👀 View project</a>
        <a class="btn" href="https://glitch.com/edit/#!/{{project_name}}">🔨 Remix</a>
      </p>
    </div>
  </div>
